/*small.css*/

body
{
	display: flex;
	justify-content: center;
	flex-flow: wrap column;
}

header
{
	display: flex;
	flex-wrap: wrap;
}

header section
{
	width: 100%;

	display: flex;
}

header section h1
{
	display: none;
}

.wrapBasketAndLogin
{
	width: 100%;
	display: flex;
	justify-content: space-around;

	font-size: 13px;
	color: #13B5EC;
}

header address
{
	display: flex;
	flex-wrap: wrap;

	font-size: 14px;
	font-family: sans-serif;
}

header address p
{
	padding: 5px;
}

.city
{
	font-size: 12px;
}

.tel
{
	display: flex;
}

header form p
{
	width: 70%;

}

header form input
{
	width: 100%;

	font-size: 18px;
	
	padding: 10px 15px;	
	border-radius: 15px;
	box-shadow: inset 0 0 4px #666;
	border: 1px solid green;
}

header form small
{
	margin-left: 15px;
}

header form button
{
	width: 25%;
	height: 44px;
	
	font-size: 10px;

	border-radius: 15px;
}

main
{
	
}

footer
{
	background: green;
}

