/*style.css*/

/*Head section*/
body
{
	/*border: 2px solid red;*/
	display: flex;
	justify-content: center;
	flex-flow: wrap column;

	margin-left: 10px;
}

header
{
	display: flex;
	flex-wrap: wrap;
}

header section
{
	/*border: 1px solid green;*/
	width: 100%;

	display: flex;
}

header section h1
{
	font-size: 4vw;
	text-shadow: 0.4vw 0.2vw 0.2vw #666;

}

header section h1:hover
{
	text-shadow: 0.2vw 0.1vw 0.1vw #666;
}

header section h1:active
{
	text-shadow: 0 0 0.2vw  #666;
}

header section h1 a
{
	font-weight: 700;
	text-decoration: none;
}

.wrapBasketAndLogin
{
	width: 100%;
	display: flex;
	justify-content: space-around;

	font-size: 22px;
	color: #13B5EC;
}

.basket
{

}

header address
{
	display: flex;
	flex-wrap: wrap;

	font-size: 26px;
	font-family: sans-serif;
}

header address p
{
	padding: 5px;
}

.city
{
	font-size: 22px;
}

.tel
{
	display: flex;
}

header form
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

header form p
{
	width: 70%;

	/*margin-left: 10px;*/
}

header form input
{
	width: 100%;

	font-size: 18px;
	
	padding: 15px;	
/*	border: 1px solid #13B5EC;*/
	border-radius: 15px;
	box-shadow: inset 0 0 4px #666;
	border: 1px solid green;
}

header form small
{
	margin-left: 15px;
}

header form button
{
	width: 25%;
	height: 54px;
	
	font-size: 23px;

	margin-left: 10px;
	border-radius: 15px;
}

dialog
{
	width: 50%;

	border: 1px solid blue;
}


/*Main section*/
main
{
	margin-top: 10px;
	
}

#container
{
	display: flex;
	flex-flow: wrap;
}

/*Left path of main section*/
.left
{
	width: 30%;
	max-width: 400px;
}

.groups
{
	border-radius: 5px;
	/*border: 1px solid red;*/
	box-shadow: 0 0 9px 0px rgba(0,0,0,.75);
}

.groups_title
{
	font-size: 32px;
	font-weight: 700;
	color: #00f;
	letter-spacing: 3px;
	text-align: center;
	text-shadow: 2px 2px 3px #aaa;

	box-shadow: 0 0 9px 0px rgba(0,0,0,.75);
	border-radius: 5px;

}

.groups ul
{
	padding: 10px;
}

.groups li
{
	font-size: 18px;
	text-shadow: 1px 1px 2px #ccc;

	
	border-bottom: 1px solid #eee;
}

.groups li a
{
	display: block;

	padding: 5px 0;
}

.groups li a:hover
{
	color: #027981;
	text-shadow: 0 0 10px #999;

	background: #F8F8FF;
}

/*Center path of main section*/
.center
{
	display: flex;
	flex-wrap: wrap;

	width: 70%;
	
	padding: 0 10px 10px 30px;
}

.auto-vaz
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.auto-vaz h2	
{	
	display: block;

	width: 100%;

	font-size: 32px;
	color: #0000ff;
	
	text-shadow: 2px 2px 1px #999;
	letter-spacing: 1px;

	padding: 0 5px 5px;
}

.img-auto
{
	display: inline-block;
	border: 3px solid #eee;
	border-radius: 10px;
	box-shadow: -2px -3px 4px 1px rgba(0,0,0,.5),
				4px 3px 6px rgba(0,0,0,.5);

	margin: 20px 0;
}

.img-auto:hover
{
	border: 3px solid #F8F8FF;
	box-shadow: -1px -2px 2px rgba(0,0,0,.5),
				2px 1px 3px rgba(0,0,0,.5);
}

.img-auto a
{
	width: 100%;
}

.img-auto img
{
	border-radius: 10px 10px 0 0;
}

.img-auto figcaption
{
	text-align: center;
}
/*
.item
{
	width: 260px;
}
*/

footer
{
	background: green;
}

