html, body, h1, h2, main, header, footer, div, p, 
address, a, span, form
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	font-family: Arial;
	font-weight: normal;
}

a
{
	text-decoration: none;
	color: blue;
}

address
{
	font-style: normal;
}

